{% extends '@App/main.html.twig' %}

{% block body %} 
    <h1>edit</h1>
    {{form_start(edit_form)}}
{#        {{form_fow(edit_form.performer.name)}}#}
    {{form_end(edit_form)}}

{% endblock %}

{% block stylesheets %}

{% endblock %}
